{% extends "base.html" %}
{% load static %}
<!-- 写入 add_staff.html 中定义的 title -->
{% block title %}
添加员工
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<body>
<div class="container">
    <h1>添加员工</h1>
    <hr/>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="staff_id">员工ID：</label>
            <input type="text" class="form-control" id="staff_id" name="staff_id" required>
        </div>
        <div class="form-group">
            <label for="id_number">身份证号：</label>
            <input type="text" class="form-control" id="id_number" name="id_number" required>
        </div>
        <div class="form-group">
            <label for="name">姓名：</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="gender">性别：</label>
            <select class="form-control" id="gender" name="gender" required>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="form-group">
            <label for="phone">电话：</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group">
            <label for="salary">工资：</label>
            <input type="text" class="form-control" id="salary" name="salary" required>
        </div>
        <div class="form-group">
            <label for="level">级别：</label>
            <input type="text" class="form-control" id="level" name="level" required>
        </div>
        <div class="form-group">
            <label for="department_id">部门ID：</label>
            <input type="text" class="form-control" id="department_id" name="department_id" required>
        </div>
        <div class="form-group">
            <label for="bank_name">银行名称：</label>
            <input type="text" class="form-control" id="bank_name" name="bank_name" required>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
</body>

{% endblock content %}
